body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.big{
    font-size: 50px;
}
.hcolor{
    color: lightcoral;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.part{
    display: flex;
}
.half-width img{
    width: 100%;
    
}
.link-area{
    text-decoration: none;
    background-image: linear-gradient(rgb(12, 219, 219), rgba(192, 55, 31, 0.966));
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.site-banner{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-box{
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#web-dev{ 
    border-left: 4px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 4px solid;
    border-image: linear-gradient(pink,yellow);
    border-image-slice: 1;
}
.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
footer {
    text-align: center;
}
